<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  
  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}
  
   <div class="row">

    {{ if .Scratch.Get "image" }}
    <div class="col-xs-12 col-md-8 vcenter">
    {{ else }}
    <div class="col-xs-12 col-md-12 vcenter">
    {{ end }}

    <h3 class="article-title" itemprop="name">
      <a href="{{ .Permalink }}" itemprop="url">{{ .Title | markdownify }}</a>
    </h3>

    <div style="vertical-align: middle;">
    <div class="pub-authors" itemprop="author">
      {{ with .Params.authors }}
      {{ delimit . ", " | markdownify }}
      {{ end }}
    </div>

    <div class="pub-publication">
      {{ if .Params.publication_short }}
      {{- .Params.publication_short | markdownify -}},
      {{ else if .Params.publication }}
      {{- .Params.publication | markdownify -}},&nbsp;
      {{- end -}}
      {{ if .Params.conf_year }}
        {{- .Params.conf_year | markdownify -}}.
      {{ else }}
        {{- .Date.Format "2006" -}}.
      {{ end }}
      <br>
      {{ if .Params.acceptance }}
        {{- .Params.acceptance | markdownify -}}
      {{ end }}
    </div>

    {{ if .Params.oral }}
      <div class="pub-awards">
        {{- "Oral Talk, " | markdownify -}}&nbsp; 
        {{- .Params.oral | markdownify -}}
      </div>
    {{- end -}}

    {{ if .Params.awards }}
      <div class="pub-awards">
        {{ .Params.awards | markdownify }}
      </div>
    {{ end }}

    <div class="pub-links">
      {{ partial "publication_links" (dict "content" . "is_list" 1) }}
    </div>
  </div>
  </div>
  {{ if .Scratch.Get "image" }}
  <div class="col-xs-12 col-md-3 vcenter center-block">
    <a href="{{ .Permalink }}">
      <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="pub-banner" itemprop="image">
    </a>
  </div>
  {{ end }}
  </div>



</div>
