<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  
  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}
  
  <h3 class="article-title" itemprop="name">
    <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
  </h3>
   <div class="row display-flex">

    {{ if .Scratch.Get "image" }}
    <div class="col-sm-6">
    {{ else }}
    <div class="col-sm-12">
    {{ end }}

    <div style="vertical-align: middle;">
    <div class="pub-authors" itemprop="author">
      {{ with .Params.authors }}
      {{ delimit . ", " | markdownify }}
      {{ end }}
    </div>

    <div class="pub-publication">
      {{ if .Params.publication_short }}
      {{- .Params.publication_short | markdownify -}},
      {{ else if .Params.publication }}
      {{- .Params.publication | markdownify -}},&nbsp;
      {{- end -}}
      {{- .Date.Format "2006" -}}
    </div>

    <div class="pub-links">
      {{ partial "publication_links" (dict "content" . "is_list" 1) }}
    </div>
  </div>
  </div>
  {{ if .Scratch.Get "image" }}
  <div class="col-sm-5">
    <a href="{{ .Permalink }}">
      <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="pub-banner" itemprop="image">
    </a>
  </div>
  {{ end }}
  </div>



</div>
